<div class="flex flex-col items-center justify-center h-screen bg-gray-900 text-white gap-6">

    @if (authService.currentUser(); as user) {
    <h1 class="text-4xl font-bold">ENTRASTE</h1>

    <div class="text-center">
        <p class="text-xl">¡Bienvenido al Dashboard, <span class="text-emerald-400">{{ user.nombreCompleto }}</span>!
        </p>
        <p class="text-gray-400 mt-2">Rol principal: {{ user.roles ? user.roles[0].name : 'Sin rol' }}</p>
        <p class="text-gray-400">Email: {{ user.email }}</p>
    </div>
    } @else {
    <p>Cargando perfil...</p>
    }

    <p-button label="Cerrar Sesión" severity="danger" (onClick)="logout()"></p-button>
</div>